
<html>
<head>
  <title>Teen2Teen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block extra_head %}{% endblock %}
</head>
    <body>
      <script src='https://admiralpotato.github.io/js/npos3d/build/npos3d.min.js'></script>


        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Teen2Teen</a>
            </div>
            <ul class="nav navbar-nav">
              <li>  <a href="#">Hello {{ user.username }}!</a></li>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="{% url 'post_list_self-esteem' %}">Self-Esteem</a></li>
              <li><a href="{% url 'post_list_body-image' %}">Body Image</a></li>
             <li><a href="{% url 'post_list_stress' %}">Stress</a></li>
             <li><a href="{% url 'post_list_bullying' %}">Bullying</a></li>
             <li><a href="{% url 'post_list_depression' %}">Depression</a></li>
             <li><a href="{% url 'post_list_cyber-addiction' %}">Cyber Addiction</a></li>
              <li><a href="{% url 'post_list_drinking-smoking' %}">Drinking & Smoking</a></li>
              <li><a href="{% url 'post_list_teen-pregnancy' %}">Teen Pregnancy</a></li>
              <li><a href="{% url 'post_list_underage-sex' %}">Underage Sex</a></li>
              <li><a href="{% url 'post_list_child-abuse' %}">Child Abuse</a></li>
              <li><a href="{% url 'post_list_peer-pressure' %}">Peer-Pressure</a></li>
              <li><a href="{% url 'post_list_eating-disorders' %}">Eating Disorders</a></li>
              <li><a href="{% url 'post_list_LGBTQ' %}">LGBTQ</a></li>
              <li><a href="{% url 'post_list_strict-parents' %}">Strict Parents</a></li>
              <li><a href="{% url 'post_list_sleep' %}">Sleep</a></li>



            <li>  {% if user.is_authenticated %}
                  <li><a href="{% url 'post_new' %}" class="top-menu">New Post <span class="glyphicon glyphicon-plus"></span></a></li>
                <li>  <a href="{% url 'post_draft_list' %}" class="top-menu">Your Drafts <span class="glyphicon glyphicon-edit"></span></a></li>
<li class="active"><a href="{% url 'logout' %}">Log Out</a></li>
              {% else %}
                <li>  <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a></li>
              {% endif %}</li>
            </ul>
          </div>
        </nav>

    <div class="content container">
            {% block content %}
            {% endblock %}

    </div>
</body>
</html>
