{% extends 'blog/base.html' %}

{% block content %}
<head>
<style>
body{background-color:#0c6800;}


  .quote   {color:white;}
  .topic{
    font-size: 55px;
    color:AliceBlue;
    text-align: center;
  }
  .post{color:white;
  text-align: ;}
  .date{color:white;
  text-align: ;}

  a:link {
      color: white;
      text-align: center;
  }

  a:visited {
      color: white;
      text-align: center;
  }

  a:hover {
      color: hotpink;
      text-align: center;
  }
</style>
</head>

    <h1 class="topic">Child Abuse</h1>
<p class= "quote" style= text-align:center>
  <br><br>       "There is a solace in breaking our silence. <br> A strength of spirit <br> when sharing our truth. <br> It all starts <br> with the choice to live on <br> the other side of Victim." <br> -Christine Macdonalad
<br><br><br><br></p>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}"> See Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}
